extends layout
block content
    h1=title
        ul.errors
         if errors
            each error in errors
             li.alert.alert-danger #{err.msg}


        form(method='post',action='/posts/add',enctype="multipart/form-data")
            .form-group 
                 label Title:
                 input.form-control(name='title',type='text' required)
            .form-group 
                 label Category: 
                 select.form-control(name='category') 
                    each category in categories
                      option(value='#{category.name}') #{category.name}
                 
            .form-group 
                 label Body:
                 textarea.form-control(name='body',id='body' required)
            .form-group 
                 label Main Image:
                 input.form-control(name='mainimage',type='file' required)
            .form-group
                 label Author
                 select.form-control(name='author')
                    option(value='Ayush Srivastava') Ayush Srivastava
                    option(value='Golu') Golu
            input.btn.btn-default(name='submit',type='submit',value='Save')             
             